# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

format = """\
  $time\
  $username\
  $directory\
  $git_branch\
  $git_status\
  \n$character\
  """

right_format = """\
  $c\
  $haskell\
  $python\
  """

[time] 
disabled = true
format = '[\[$time\]]($style) '
style = 'white'

[username]
style_user = '#a89984'
show_always = false
format = '[$user]($style):'

[directory]
truncation_length = 6
truncation_symbol = '…/'
truncate_to_repo = false
format = '[$path]($style)[$read_only]($read_only_style) '
style = '#a89984'
disabled = false

[character]
success_symbol = '[\$](white)'
error_symbol = '[\$](red)'
vimcmd_symbol = '[VI](white)'
vimcmd_replace_one_symbol = '[VI](blue)'
vimcmd_replace_symbol = '[VI](red)'
vimcmd_visual_symbol = '[VI](orange)'

[[battery.display]]
threshold = 10
style = "red"

[[battery.display]]
threshold = 20
style = "yellow"

[[battery.display]]
threshold = 80
style = "green"

[c]
commands = [ [ 'gcc', '--version' ], [ 'cc', '--version' ], [ 'clang', '--version' ] ]
format = '[$symbol$name ]($style)'
style = 'dimmed white'
symbol = ' '

[haskell]
format = '[$symbol($version )]($style)'
style = 'dimmed white'

[python]
format = '[${symbol} (${version} )(\($virtualenv\) )]($style)'
pyenv_version_name = true
version_format = '${raw}'
symbol = ''
style = 'dimmed white'

[git_branch]
format = '[(\($remote_name:\))$branch]($style)'
style = 'yellow'
always_show_remote = true

[git_status]
format = '[\[$all_status$ahead_behind\]]($style) '
style = '#d65d0e'

